html{
  box-sizing: border_box;
  background-color: rgb(247, 246, 246);
  font-family: 'Ubuntu Condensed', sans-serif;
  overflow-x: hidden;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  margin: 0;
  text-align: center;
}

h1{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #747478;
  color: #fff;
}

.menu ul{
  margin: 0;
  padding: 0;
}

.menu li{
  list-style-type: none;
  border-bottom: 1px solid black;
  line-height: 40px;
  cursor: pointer;
}

.menu a:link{
  display: block;
  text-decoration: none;
}

/* Media queries for floats */
@media (min-width: 500px){
li{
  width: 33.33%;
  min-width: 100px;
  float:left;
  border-bottom: 1px solid black;
}