html{
  box-sizing: border_box;
  background-color: rgb(247, 246, 246);
  font-family: 'Ubuntu Condensed', sans-serif;
  overflow-x: hidden;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

h1{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

a{
  
  
}

/* Media queries for floats */
@media (min-width: 500px){
a{
  width: 33.33%;
  min-width: 100px;
  float:left;
  border-bottom: 1px solid black;
}