html{
  box-sizing: border_box;
  background-color: rgb(247, 246, 246);
  font-family: 'Ubuntu Condensed', sans-serif;
  overflow-x: hidden;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  margin: 0;
  text-align: center;
}

/* Header*/
h1{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #747478;
  color: #fff;
  border-bottom: 1px solid black;
}

/* Main menu list */
ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  margin: 0;
}

.menu li{
  border-bottom: 1px solid black;
  line-height: 40px;
  cursor: pointer;
}

.menu a:link{
  display: block;
  text-decoration: none;
}

.menu #tabs{
  background-color: rgb(50, 50, 50);
}

/* Accordion tab */
p.tab_content{
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: rgb(110, 110, 110);
}

p.tab_content a{
  line-height: 15px;
}

p.tab_content.hide {
  
}

/* Top photo gallery */
.gallery h3{
  margin-bottom: 0;
}

.gallery li{
  padding: 20px;
}


/* Media queries for floats */
@media (min-width: 600px){
  .menu li{
    width: 33.3%;
    min-width: 200px;
    float: left;
  }
}