<h1>Photo Share</h1>
<h3>Main Menu</h3>
  <link><a href="/photographers/sub_menu_photographer">Photographers</a></link>
  <link><a href="/photos/sub_menu_photo">Photos</a></link>
  <link><a href="/albums/sub_menu_album">Albums</a></link>