<h1>Photo Share</h1>
<div class="menu">
  <ul>
    <li><link><a href="/photographers/sub_menu_photographer">Photographers</a></link></li>
    <li><link><a href="/photos/sub_menu_photo">Photos</a></link></li>
    <li><link><a href="/albums/sub_menu_album">Albums</a></link></li>
  </ul>
</div>