<h1>Photo Share</h1>

<div class="menu">
  <ul id="tabs">
    <li><link><a href="#photographers">Photographers</a></link></li>
    <p class="tab_content hide" id="photographers">
      <a href="/photographers/add">Add new photographer</a>
      <a href="/photographers/all">View photographers</a>
      <a href="/photographers/update">Update photographer</a>
      <a href="/photographers/delete">Delete photographer</a>
    </p>
  
    <li><link><a href="#photos">Photos</a></link></li>
    <p class="tab_content hide" id="photos">
      <a href="/photos/add">Add new photo</a>
      <a href="/photos/pick_photographer">View photos by photographer</a>
      <a href="/photos/pick_album">View photos by album</a>
      <a href="/photos/delete">Delete photo</a>
    </p>
  
    <li><link><a href="#albums">Albums</a></link></li>
    <p class="tab_content hide" id="photos">
      <a href="/albums/add">Add new album</a>
      <a href="/albums/all">View all albums</a>
      <a href="/albums/update">Add photo to album</a>
      <a href="/albums/delete">Delete album</a>
    </p>
  </ul>
</div>

<div class="gallery">
  <h3>Top Photo Gallery</h3>
  <ul>
    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-vzT3AjYc_xm602oFMIwrFxJUwHawNTXD0d7ru7ajvnpdPxtQ" alt="Bear in front of building" size="width:320px"></li>
    <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuPKTbOkaKqor2qISoqV_EBCqMa73E6XDNPvNWvfbJkqxp346w" alt="Hot air balloons" size="width:320px"></li>
    <li><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSYv0KC1QHdiRwVpLFgk02ndwJmipBjH8WAEPq2msDFuXLXWa4t3w" alt="Stargazing from a Jeep" size="width:320px"></li>
  </ul>
</div>
