<h1>Photo Share</h1>
<h3>Photographer Menu</h3>
  <link><a href="/photographers/new_photographer">Signup</a></link>
  <link><a href="/photos/login">Login</a></link>
  <link><a href="/albums/sub_menu_album">Albums</a></link>
  <link><a href="/albums/sub_menu_photos">Photos</a></link>